<div class="mr-tp2 custom-button col-md-3" id="creen-start">
    <div class="form-group">
        <div id="screen-initial" style="display: none;">
             <progress id="load-progress" value="0" max="100"></progress>
         </div>
            <input type="file" id="real-file" name="rien" accept=".pdf" class="invisible " />
            <input type="hidden" name="cin" id="cin">
            <input type="hidden" name="nom" id="nom" class="invisible">
            <input type="hidden" name="prenom" id="prenom" class="invisible">
            <input type="hidden" name="dateN" id="dateN" class="invisible">
            <button class=" " type="button"    id="btn-cin">
             <i class="ti-camera"></i>

        </button><p>Scanne CIN </p>
    </div>
</div>
<div class="mr-tp2 custom-button col-md-3" >
    <div class="form-group">
        <input type="file" id="file-rb" name="file_pdff" accept=".pdf"
            class="invisible  " />
        <button class="  " id="btn-rb" type="button"> <i class="ti-camera"></i>   </button>
        <p  id="txt-rb">   Relevé bancaire</p>
    </div>
</div>
<div class="mr-tp2 custom-button col-md-3">
